In [1]:
!pip install pandas

Requirement already satisfied: pandas in c:\users\user\anaconda3\lib\site-packages (2.0.3)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\user\anaconda3\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\user\anaconda3\lib\site-packages (from pandas) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in c:\users\user\anaconda3\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: numpy>=1.21.0 in c:\users\user\anaconda3\lib\site-packages (from pandas) (1.24.3)
Requirement already satisfied: six>=1.5 in c:\users\user\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [44]:
import pandas as pd
from string import ascii_uppercase as alphabet
import pickle

In [45]:
all_tables = pd.read_html('https://en.wikipedia.org/wiki/2022_FIFA_World_Cup')

In [46]:
all_tables[9]
all_tables[16]
all_tables[23]
all_tables[30]
all_tables[37]
all_tables[44]
all_tables[51]
all_tables[58]

   Pos      Teamvte  Pld  W  D  L  GF  GA  GD  Pts               Qualification
0    1     Portugal    3  2  0  1   6   4  +2    6  Advanced to knockout stage
1    2  South Korea    3  1  1  1   4   4   0    4  Advanced to knockout stage
2    3      Uruguay    3  1  1  1   2   2   0    4                         NaN
3    4        Ghana    3  1  0  2   5   7  −2    3                         NaN

In [47]:
all_tables[23].columns[1]

'Teamvte'

In [48]:
alphabet

'ABCDEFGHIJKLMNOPQRSTUVWXYZ'

In [49]:
all_tables = pd.read_html('https://en.wikipedia.org/wiki/2022_FIFA_World_Cup')
dict_table = {}
for letter, i in zip(alphabet, range(9,65,7)):
    df = all_tables[i]
    df.rename(columns={'Teamvte' : 'Team'}, inplace = True)
    df.pop("Qualification")
    dict_table[f'Group {letter}'] = df
    print(letter,i)

A 9
B 16
C 23
D 30
E 37
F 44
G 51
H 58

In [50]:
 dict_table.keys()

dict_keys(['Group A', 'Group B', 'Group C', 'Group D', 'Group E', 'Group F', 'Group G', 'Group H'])

In [51]:
dict_table['Group H']

   Pos         Team  Pld  W  D  L  GF  GA  GD  Pts
0    1     Portugal    3  2  0  1   6   4  +2    6
1    2  South Korea    3  1  1  1   4   4   0    4
2    3      Uruguay    3  1  1  1   2   2   0    4
3    4        Ghana    3  1  0  2   5   7  −2    3

In [52]:
with open('dict_table','wb') as output:
    pickle.dump(dict_table, output)